{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form with '@DLGlobal/FrontEnd/bootstrap_3_layout.html.twig' %}

<div class="row">


    <div class="col-sm-3"></div>

    <div class="col-sm-6">
        <center><h2>Informations Personnelles</h2></center>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        {{ form_widget(form) }}
        <input type="checkbox" required>Accepter les conditions Dream Life* <a href="{{ 'media/uploads/pdf/'}}">Voir les conditions</a>

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>

    <div class="col-sm-3"></div>
</div>